@font-face {
  font-family: "Bebas Neue";
  src: url('./ttf/BebasNeue\ Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('./ttf/BebasNeue\ Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('./ttf/BebasNeue\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('./ttf/BebasNeue\ Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}